<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.map" >

    <application
        android:name="com.map.core.map.MapManager"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.map.zjcm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zjcm.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.map.core.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity android:name="com.map.core.BuildingSearchActivity"></activity>
        <activity android:name="com.map.core.PathFindingActivity"></activity>
        <!--<activity android:name="com.cucmap.NavigatorActivity"></activity>-->
        <activity android:name="com.map.core.BuildingSearchResultActivity"></activity>
        <activity android:name="com.map.core.PathFindingResultActivity"></activity>
        <!--<activity android:name="com.cucmap.UpdateActivity"></activity>-->
        <activity android:name="com.map.core.BuildingDetailActivity"></activity>
        <!--<activity android:name="com.cucmap.TestMapActivity"></activity>-->
    </application>

</manifest>
